/* selectores globales o generales*/
body{
    background-color: rgb(155, 238, 210);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
}

a{
    text-decoration: none;
}

p{
    color: green;
}

/* selector de clase, tiene prioridad sobre el global*/
.unico{
    color: brown;
}

/* seletor de identificador (id)*/
#identificador{
    color: blue;
}